<section class="container">
    <div class="auction-item">
        <div class="info-container">
            <img src="assets/images/pcGiveAway.jpg" alt="Some give image">
            <div>
                <h1>A Brand new PC</h1>
                <h2>Price: 5000$</h2>
            </div>
        </div>
        <div class="details-btn">
            <a href="" class="details">Details</a>
        </div>
    </div>

    <div class="auction-item">
        <div class="info-container">
            <img src="assets/images/pcGiveAway.jpg" alt="Some give image">
            <div>
                <h1>A Brand new PC</h1>
                <h2>Price: 5000$</h2>
            </div>
        </div>
        <div class="details-btn">
            <a href="" class="details">Details</a>
        </div>
    </div>

    <div class="auction-item">
        <div class="info-container">
            <img src="assets/images/pcGiveAway.jpg" alt="Some give image">
            <div>
                <h1>A Brand new PC</h1>
                <h2>Price: 5000$</h2>
            </div>
        </div>
        <div class="details-btn">
            <a href="" class="details">Details</a>
        </div>
    </div>

    <div class="auction-item">
        <div class="info-container">
            <img src="assets/images/pcGiveAway.jpg" alt="Some give image">
            <div>
                <h1>A Brand new PC</h1>
                <h2>Price: 5000$</h2>
            </div>
        </div>
        <div class="details-btn">
            <a href="" class="details">Details</a>
        </div>
    </div>
</section>