<section class="details-page">
    <h1>Details</h1>
    <article class="details-card">

        <article class="details-card-text">
            <h2>Title: {{ selectedItem?.title}}</h2>
            <h3>Author: {{username}}</h3>
            <h3>Price: {{ selectedItem?.price}}</h3>
            <h3>Signed up: {{ selectedItem?.signed?.length || 0 }}</h3>
            <h3>Description: {{ selectedItem?.description}}</h3>

        </article>

        <article class="details-card-image">
            <img src="assets/images/pcGiveAway.jpg">
        </article>

    </article>
</section>