<section>
    <div class="data">
        <div class="profile-img">
            <img src="assets/images/person.png" alt="Blank profile">
        </div>

        <div class="personal-data">
            <p>Name: Teodor Firkov</p>
            <p>Email: tf2&#64;gmail.com</p>
            <p>3 posts</p>
        </div>
    </div>

    <div class="auction-images">
        <div class="photo">
            <a href="./details.html">
                <img src="assets/images/pcGiveAway.jpg" alt="PC">
            </a>
        </div>

            <div class="photo">
                <a href="./details.html">
                    <img src="assets/images/pcGiveAway.jpg" alt="PC">
                </a>
            </div>

                <div class="photo">
                    <a href="./details.html">
                        <img src="assets/images/pcGiveAway.jpg" alt="PC">
                    </a>
                </div>
    </div>
</section>